@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Oswald&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@100&family=Oswald&family=Tenor+Sans&display=swap');


html{
width: 1920px;
height: 863px;
overflow: hidden;
}
header{
    width: 100%;
	background: #ffffff;
	height: 100%;
     border-bottom: 2px solid;
     }


.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    bottom: 0px;
  }
  
  img {
    float: left;
    margin-right:10px;
  }
  
  p {
    font-family:"Oswald";
    margin: 22px;
    font-weight:bold;
    font-size: 17px;
    line-height: 2em;
  }

  .logo{
    margin-left: 183px;
    margin-top: 29px;
  }

  .seti{
    float: right;
    margin-right: 240px;
    margin-top: 29px;
      }
      
   .seti1{
    float: right;
    margin-right:13px;
    margin-top: 29px;
    margin-left: 10px;
    }   

body{
    background-color: #FFF8EE;
}

.container-2 {
  width: 50%;
  margin-top: 150px;
  height: auto;
  float: left;
  display: flex;
}
.text-hb{
    margin-top: 15px;
    margin-left:233px;
    font-family: "Italianno";
    font-weight: bold;
    line-height: 1em;
    font-size: 250px;
    color: rgb(20, 20, 20);
    margin-bottom: 0px;
}
span{
    margin-left: 90px;
}

.text-pozdr{
text-align: justify;
margin-left: 310px; 
font-size: 28px;
font-family: "Montserrat";
line-height: 1.0em;
bottom: 0px;
}

.text-ot{
margin-left: 430px; 
font-size: 20px;
}


.container-3{
  margin-top: 50px;
  width: 50%;
  height: auto;
  overflow: hidden;
  display: flex;
  float: right;
}

.cvet{
  right:100px;
  }

.portret{
 position:absolute; 
 right: 100px;
}

.photo-setting{
   width:550px;
   height:700px;
}
  
.flowers-1{
  position:absolute; 
  right: 540px;
  margin-top: 350px;
  z-index: 5;
}

.flowers-2{
  position:absolute; 
  right: -110px;
  margin-top: 380px;
  z-index: 5;
}


.back-flowers-1{
  position: absolute;
  right: 340px;
  z-index: -1;
 bottom: 0;

  

}

.back-flowers-2{
  position: absolute;
  right: -5px;
  z-index: -1;
 bottom: 0;

  

}
.media-xr{
  position: absolute;
  opacity: 0;
}
@media only screen and (max-device-width: 440px) and (orientation: portrait) {
  html{
    width: 414px;
    height: auto;
  }
  .container{
    display: flex;
    margin: 0px;
  }
  .logo{
    margin: 0;
    height: 48px;
    width: 48px;
  }
  .hear-text{
    position: absolute;
    top: -15px;
    left: 40px;
    line-height: 1.5;
    font-size: 16px;
  }
  .seti{
    position: absolute;
    top: -10px;
    right: 53px;
    margin: 20px 25px 0 0;  
  }
  .seti1{
    position: absolute;
    top: -10px;
    right: 27px;
    margin: 20px 0px 0 0; 
  }
  body{
    height: 60px;
  }
  .container-2{
    position: absolute;
    width: 400px;
    height: auto;
  }
  .text-hb{
    font-size: 80px;
    margin: 0 0 20px 0;
  }
  .text-ot{
    font-size: 20px;
    position: relative;
    top: -20px;
    z-index: 100011;
    margin-left: 0;
  }
  .text-pozdr{
    font-size: 23px;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.5;
    text-align: justify;
  }
  .HB{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    right: 200;
    margin: 0;
    width: 400px;
  }
  .text-hb span{
    margin: 0 0 20px 0 ;
  }
  .media-xr{
    position: absolute;
    opacity: 1;
    z-index: 1000;
    top: 0;
  }
  .media-xr img{
    position: absolute;
    width: 380px;
    top: 500px;
    right: -190px;
  }
  .flowers-1{
    position: absolute;
    opacity: 0;
  }
  .flowers-1{
    position: absolute;
    opacity: 0;
  }
  .portret{
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
  }
}
